<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>761493072136-g40v1a3rt2t36oivuh9bpft7scgp8g9t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.761493072136-g40v1a3rt2t36oivuh9bpft7scgp8g9t</string>
	<key>API_KEY</key>
	<string>AIzaSyAoMCYWuQ2IcoE9zDXt3zLCQBLHbjtG1Ys</string>
	<key>GCM_SENDER_ID</key>
	<string>761493072136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluteeks.pentor</string>
	<key>PROJECT_ID</key>
	<string>pentor-22</string>
	<key>STORAGE_BUCKET</key>
	<string>pentor-22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:761493072136:ios:e675ec9c23c06610ede4bd</string>
</dict>
</plist>